.cardWrapper {
  width: 400px;
  height: 320px;
  border-radius: 15px;
  background-color: rgb(223, 225, 66);
  margin: 40px;
}

.cardHeader{
  display: flex;
  align-items: center;
  padding-top: 15px;
  justify-content: space-evenly;
}

.userName {
  color: seagreen;
  font-size: xx-large;
  font-weight: bolder;
  
}

.userDetail {
  display: flex;
  align-items: center;
  gap: 50px;
  padding-left: 20px;
  justify-content: space-between;
  padding-right: 20px;
  color: rgb(18, 22, 18);
}

.cardId {
  width: 150px;
  text-align: center;
}

