.navWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: rgb(72, 240, 240);
}

.nav{
    font-size: xxx-large;
    color: rgb(81, 32, 56);
    font-weight: 900;
    text-decoration: none;
}
a{
    text-decoration: none;
}

.user{
    font-size: xx-large;
    color:  rgb(81, 32, 56);
    font-weight: 800;
}
